// 1 - Vendors;
@import "vendors/bootstrap";

// 2 - Utils
@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/helpers";

// 3 - Base;
@import "base/reset";
@import "base/typography";

// 4 - Components;
@import "components/buttons";
@import "components/inputs";

// 5 - Layout;
@import "layout/header";
@import "layout/navbar";
@import "layout/footer";

// 6 - Pages;
// @import 'pages/';
