@mixin for-size($size) {
	@if $size == phone-only {
		@media (max-width: $breakpoint-sm) {
			@content;
		}
	} @else if $size == tablet-portrait-down {
		@media (max-width: $breakpoint-md) {
			@content;
		}
	} @else if $size == tablet-landscape-down {
		@media (max-width: $breakpoint-lg) {
			@content;
		}
	} @else if $size == desktop-down {
		@media (max-width: $breakpoint-xl) {
			@content;
		}
	} @else if $size == desktop-up {
		@media (min-width: $breakpoint-xl) {
			@content;
		}
	}
}

// Ripple effect for buttons
// @mixin ripple-effect {
// 	display: inline-block;
// 	position: relative;
// 	overflow: hidden;

// 	&::before {
// 		content: "";
// 		position: absolute;
// 		background-color: $background;
// 		padding: 50%;
// 		border-radius: 50%;
// 		left: calc(100% * var(--ripple-x));
// 		top: calc(100% * var(--ripple-y));
// 		transform: translate(-50%, -50%) scale(1);
// 		opacity: 0;
// 		transition: transform 600ms, opacity 600ms;
// 	}
// 	&:active::before {
// 		transition: 0s;
// 		opacity: 1;
// 		transform: translate(-50%, -50%) scale(0);
// 	}
// }

// Flexbox
@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin font-source-sans($font: false, $size: false, $color: false, $weight: false, $lh: false) {
	@if $font {
		font-family: $font;
	}
	@if $size {
		font-size: $size;
	}
	@if $color {
		color: $color;
	}
	@if $weight {
		font-weight: $weight;
	}
	@if $lh {
		line-height: $lh;
	}
}

@mixin input-placeholder {
	&.placeholder {
		@content;
	}
	&::placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

@mixin font-face($family, $ttf-path) {
	@font-face {
		font-family: $family;
		src: url($ttf-path) format("truetype");
	}
}

// @mixin fade($type) {
// 	@if $type== "hide" {
// 		visibility: hidden;
// 		opacity: 0;
// 		transition: visibility 1s, opacity 1s;
// 	} @else if $type== "show" {
// 		visibility: visible;
// 		opacity: 1;
// 		transition: visibility 1s, opacity 1s;
// 	}
// }
