// Color1
$color1-100: #000000;
$color1-200: #000000;
$color1-300: #000000;
$color1-400: #000000;
$color1-500: #000000;

// Color2
$color2-100: #000000;
$color2-200: #000000;
$color2-300: #000000;
$color2-400: #000000;
$color2-500: #000000;

// Color3
$color3-100: #000000;
$color3-200: #000000;
$color3-300: #000000;
$color3-400: #000000;
$color3-500: #000000;

// Color4
$color4-100: #000000;
$color4-200: #000000;
$color4-300: #000000;
$color4-400: #000000;
$color4-500: #000000;

//Borders
$border-1: 1px solid;
$border-2: 1px dotted;
$border-3: 1px dashed;

//Shadows
$shadow-1: 0 0 0 #000000;
$shadow-2: 0 0 0 #000000;

//Shadows Hover
$shadow-hover-1: 0 0 0 #000000;
$shadow-hover-2: 0 0 0 #000000;

//Font-Sizes
$size-smaller: 10px;
$size-small: 12px;
$size-regular: 14px;
$size-medium: 18px;
$size-larg: 24px;

//Font-Weight
$weight-thin: 100;
$weight-light: 200;
$weight-regular: 500;
$weight-medium: 600;
$weight-bold: 900;

//Font-Family
$font-light: "-light", sans-serif;
$font-light: "-regular", sans-serif;
$font-light: "-medium", sans-serif;
$font-light: "-bold", sans-serif;

