// Primary Color
$color-primary-1: ;
$color-primary-2: ;
$color-primary-3: ;
$color-primary-4: ;
$color-primary-5: ;

// Secondary Color
$color-secondary-1: ;
$color-secondary-2: ;
$color-secondary-3: ;
$color-secondary-4: ;
$color-secondary-5: ;

//Shadow
$shadow-1: ;

//Shadow Hover
$shadow-hover-1: ;

//Font sizes
$font-size-xs: ;
$font-size-sm: ;
$font-size-re: ;
$font-size-md: ;
$font-size-lg: ;
$font-size-xl: ;

// Font Names
$primary-font: "";
$secondary-font: "";

//==================================//
// Don't miss with those variabeles //
//==================================//

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Black & White
$black: #000000;
$white: #ffffff;

//Font Path
$primary-light-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Light.ttf";
$primary-regular-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Regular.ttf";
$primary-medium-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Medium.ttf";
$primary-semibold-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Semibold.ttf";
$primary-bold-path: "../fonts/" + $primary-font + "/" + $primary-font + "-Bold.ttf";

$secondary-light-path: "../fonts/" + $secondary-font + "/" + $secondary-font + "-Light.ttf";
$secondary-regular-path: "../fonts/" + $secondary-font + "/" + $secondary-font + "-Regular.ttf";
$secondary-medium-path: "../fonts/" + $secondary-font + "/" + $secondary-font + "-Medium.ttf";
$secondary-semibold-path: "../fonts/" + $secondary-font + "/" + $secondary-font + "-Semibold.ttf";
$secondary-bold-path: "../fonts/" + $secondary-font + "/" + $secondary-font + "-Bold.ttf";

//Font Family
$font-primary-light: $primary-font + " Light";
$font-primary-regular: $primary-font + " Regular";
$font-primary-medium: $primary-font + " Medium";
$font-primary-semibold: $primary-font + " SemiBold";
$font-primary-bold: $primary-font + " Bold";

$font-secondary-light: $secondary-font + " Light";
$font-secondary-regular: $secondary-font + " Regular";
$font-secondary-medium: $secondary-font + " Medium";
$font-secondary-semibold: $secondary-font + " SemiBold";
$font-secondary-bold: $secondary-font + " Bold";
