// Colors
$color-primary: ;
$color-secondary: ;

//Shadows
$shadow-sm: ;

//Font sizes
$font-size-xs: ;
$font-size-sm: ;
$font-size-re: ;
$font-size-md: ;
$font-size-lg: ;
$font-size-xl: ;

// Font Names
$font-primary: "";
$font-secondary: "";

//==================================//
// Don't miss with those variabeles //
//==================================//

// Breakpoint
$breakpoints: ("xs": 360px, "sm": 576px, "md":768px, "lg":992px, "xl":1200px);

// Black & White
$color-black: #000000;
$color-white: #ffffff;

//Font Path
$font-primary-light-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Light.ttf";
$font-primary-regular-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Regular.ttf";
$font-primary-medium-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Medium.ttf";
$font-primary-semibold-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Semibold.ttf";
$font-primary-bold-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Bold.ttf";

$font-secondary-light-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Light.ttf";
$font-secondary-regular-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Regular.ttf";
$font-secondary-medium-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Medium.ttf";
$font-secondary-semibold-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Semibold.ttf";
$font-secondary-bold-path: "../fonts/" + $font-secondary + "/" + $font-secondary + "-Bold.ttf";

//Font Family
$font-primary-light: $font-primary + " Light";
$font-primary-regular: $font-primary + " Regular";
$font-primary-medium: $font-primary + " Medium";
$font-primary-semibold: $font-primary + " SemiBold";
$font-primary-bold: $font-primary + " Bold";

$font-secondary-light: $font-secondary + " Light";
$font-secondary-regular: $font-secondary + " Regular";
$font-secondary-medium: $font-secondary + " Medium";
$font-secondary-semibold: $font-secondary + " SemiBold";
$font-secondary-bold: $font-secondary + " Bold";
