/*=== Import Fonts ===*/
@include font-face($primary-light, $primary-light-path);
@include font-face($primary-regular, $primary-regular-path);
@include font-face($primary-medium, $primary-medium-path);
@include font-face($primary-semibold, $primary-semibold-path);
@include font-face($primary-bold, $primary-bold-path);

@include font-face($secondary-light, $secondary-light-path);
@include font-face($secondary-regular, $secondary-regular-path);
@include font-face($secondary-medium, $secondary-medium-path);
@include font-face($secondary-semibold, $secondary-semibold-path);
@include font-face($secondary-bold, $secondary-bold-path);

/*=== Typography Styling ===*/
body {
	// color: $dark-1;
	// font-size: $size-small;
	// font-family: $primary-regular, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: normal;
	// line-height: 1.5;
}

h1 {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}
h2 {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}
h3 {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}
h4 {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}
h5 {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}
h6 {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}

button {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}

a {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}

p {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}

label {
	// @include font-source-sans($primary-bold, $font-size-xl, $color-primary-1, bold, line-height);
}

@include for-size(phone-only) {
	h1 {
		// font-size: ;
		// line-height: ;
	}
	h2 {
		// font-size: ;
		// line-height: ;
	}
	h3 {
		// font-size: ;
		// line-height: ;
	}
	h4 {
		// font-size: ;
		// line-height: ;
	}
	h5 {
		// font-size: ;
		// line-height: ;
	}
	h6 {
		// font-size: ;
		// line-height: ;
	}
	p {
		// font-size: ;
		// line-height: ;
	}
}
