/*=== Import Fontawesome Pro ===*/
@include font-face("Fontawesome-Brands", normal, normal, auto, "../fonts/fontawsome-pro/fa-brands-400");
@include font-face("Fontawesome-light", normal, 300, auto, "../fonts/fontawsome-pro/fa-light-300");
@include font-face("Fontawesome-regular", normal, 400, auto, "../fonts/fontawsome-pro/fa-regular-400");
@include font-face("Fontawesome-solid", normal, 900, auto, "../fonts/fontawsome-pro/fa-solid-900");

/*=== Typography Styling ===*/

* {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
}

.title {
}
.sub-title {
}
.caption {
}

button {
}
a {
}
p {
}
span {
}
label {
}
